@import "tailwindcss";

@theme {
  --color-navbar: #f7f2e8;
  --color-main-background: #e9e4d9;
  --color-input-background: #fffdf7;

  --color-border: #c9c0af;

  --color-primary-dark: #242522;
  --color-common-text: #666b65;
  --color-gold-accent: #8c6a2b;
  --color-offwhite: #F2F2F2;

  --font-sans: "Inter", sans-serif;
  --font-display: "Barlow Condensed", sans-serif;
}

@layer components {
  .input-light {
    @apply bg-input-background rounded-md border border-border;
  }

  .button-light {
    @apply rounded-md border border-border;
  }

  .heading-light {
    @apply font-display font-bold text-primary-dark uppercase
  }
}



/* Character ability description icon/symbols styling/colouring */
.ability-description :is(.SpiritDPS, .SpiritDamage) {
  color: #7c5cff; 
} 
.ability-description svg:has(+ :is(.SpiritDPS, .SpiritDamage)),
.ability-description svg:has(+ :is(.SpiritDPS, .SpiritDamage)) * {
  fill: #7c5cff;
} 

.ability-description .Pulling {
  color: #0EA5E9 !important; 
} 
.ability-description svg:has(+ .Pulling),
.ability-description svg:has(+ .Pulling) * {
  fill: #0EA5E9;
} 

.ability-description .Stun {
  color:  #EAB308 !important; 
} 
.ability-description svg:has(+ .Stun),
.ability-description svg:has(+ .Stun) * {
  fill:  #EAB308;
} 

.ability-description .MeleeDamage {
  color:  #EC9719 !important; 
} 
.ability-description svg:has(+ .MeleeDamage),
.ability-description svg:has(+ .MeleeDamage) * {
  fill:  #EC9719;
} 

.ability-description :is(.WeaponDamage, .BonusWeaponDamage) {
  color: #EC9719;
}
.ability-description svg:has(+ :is(.WeaponDamage, .BonusWeaponDamage)),
.ability-description svg:has(+ :is(.WeaponDamage, .BonusWeaponDamage)) * {
  fill: #EC9719;
}

.ability-description .PureDamage {
  color: #EC9719;
}
.ability-description svg:has(+ .PureDamage),
.ability-description svg:has(+ .PureDamage) * {
  fill: #EC9719;
}

.ability-description img {
  filter: brightness(15%);
}